nav a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 96px;
}


nav a div:hover {
    background-color: #d34b4b;
}

.wrapper-nav-items ion-icon {
    color: white;
    font-size: 36px;
}

#home-outline {
    margin-right: 10px;
}

.logo-inside-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 40px;
    letter-spacing: 3px;
}

.nav-item-bnt-wrapper {
    position: relative;
}

.nav-item-bnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-item-icon {
    margin-bottom: 10px;
}

.wrapper-nav-items {
    height: 100%;
    display: flex;
    flex-direction: row;
}

nav form input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    cursor: pointer;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    font-size: inherit;
}