.tour {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 28px 28px 10px 28px;
    background-color: #f1eeee;
    border-radius: 8px;
}

.tour:hover {
    background-color: #ded2d2;
}

.tour-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    color: #23232e;
    text-decoration: none;
    margin: 40px 0;
}

.tour p {
    margin: 6px 0;
}

.tour input[type=submit] {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 28px;
    background: #6fcf97;
    border-radius: 24px;
    border: none;
    display: block;
    cursor: pointer;
    width: 200px;
    margin: 10px auto;
}

.fire {
    color: #fe5151;
    font-size: 36px;
}

.fire-span {
    position: absolute;
    top: -20px;
    right: -22px;
}

.ban {
    color: #fe5151;
    font-size: 36px;
}

.tip {
    color: #6fcf97;
    font-size: 36px;
}

img {
    max-width: 300px;
}

.choose {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.choose h2 {
    margin-bottom: 4px;
}

.page-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #23232e;
    text-decoration: none;
    gap: 40px;
}

.create-tour-wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 180px 180px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.span-margin {
    margin-top: 8px;
}

.h1wrapper {
    position: absolute;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #2F80ED;
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 100%;
    color: #23232e;
}

.input_number {
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray
}

.input_number:focus {
    border-color: black;
}

#types {
    border-width: 0 0 1px;
    background-color: inherit;
}

#types:active {
    border-width: 0 0 1px;
}

.input_number, #types {
    width: 160px;
    height: 28px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 28px;
    background: #2F80ED;
    border-radius: 24px;
    border: none;
    display: block;
    cursor: pointer;
}

.all-space {
    height: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 0 300px;
}

#h1-all-users {
    margin-bottom: 10px;
}

.users-container {
    margin-top: 40px;
    width: 200px;
    float: right;
}

.users {
    display: flex;
    flex-direction: column;
}

.users a {
    padding-bottom: 4px;
    text-decoration: none;
    background-image: linear-gradient(
            to left,
            #23232e,
            #23232e
    );
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.users a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.users a:hover {
    background-position: 0;
}

.users a:hover::before {
    width: 100%;
}

.participants-users-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.participants-users-container h2 {
    font-weight: bold;
    margin-bottom: 8px;
}

.float-admin {
    width: 200px;
    margin: 0 40px 0 auto;
}

.table-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #23232e;
    text-decoration: none;
    margin: 40px auto;
    background-color: #f1eeee;
    border-radius: 8px;
    width: 300px;
    padding: 30px 0;
}

#user-icon {
    color: #23232e;
    font-size: 108px;
}


.status-discount-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-set {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.discount-container {
    width: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tour-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.tour-button span {
    color: #23232e;
    font-size: 54px;
}